*{
    margin:0;
    padding:0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:center;
}
/*Divisão de conteudo*/
.left{
    margin-top: 1px;
    float: left;
    width: 60%; 
    height: 500px;
    text-align:justify;
    padding:20px;
}
/*Video esta aqui*/
.right{
    padding: 20px;
    float: right;
    margin-top: 1px;
    width: 40%;
    height: 500px;
    position: relative;
    background-color:black;
}
/*carrosel*/

.carousel-inner{
    padding:30px;
}
