*{
    margin:0;
    padding:0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align:center;
}
/*Divisão de conteudo*/
.left{
    margin-top: 1px;
    float: left;
    width: 50%; 
    height: 500px;
    padding:20px;
}
.right{
    padding: 20px;
    float: right;
    margin-top: 1px;
    width: 50%;
    height: 500px;
    text-align: justify;
    color: white;
    background-color: black;
}
/*carrosel*/

.carousel-inner{
    padding:30px;
    height: 600px; 
    width: auto; 
}

.precoDescricao{
    padding:30px;
    text-align: center;
     
}
.img1{
    height: 300px;
    width: 600px; 
}

.Intro{
    padding:30px;
    text-align: justify;

}